.board_container {
height: 60vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

.board {
  height: 70%;
  width: 70%;
  background-image: url(../../images/bg-pentagon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.board_election {
  width: 70%;
  height: 100%;
  z-index: 8;
}

.title_election_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title_election {
  color: white;
  font-size: 20px;
  margin: 50px 0;
  z-index: 8;
}

.options_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  width: 150px;
  height: 150px;
  position:absolute;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.circle-picked {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  z-index: 8;
}


.circle_picked_random {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(24,33,66,255);
}


.circle_picked_random_chose {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  z-index: 8;
}

.button_draw {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
}

.button_winner {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 36px;
  font-weight: bold;
  z-index: 8;
}

.button_play_again {
  margin-top: 25px;
  background-color: #fbfbfb;
  color:#514f63;
  padding: 15px 35px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 8;
}

.container_player {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.selected_winner {
  height: 550px;
  width: 550px;
  border-radius: 50%;
  position: absolute;
  background:radial-gradient(#2b3654 43%, #253050 43% 57%, #1f2c4e 57%);
  z-index: 5;
}


.scissors {
  left: 50%;
  transform: translate(-50%,-50%);
  border: 20px solid #eda419;
  background-image: url(../../images/icon-scissors.svg);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
}

.scissors-picked {
  border: 20px solid #eda419;
  background-image: url(../../images/icon-scissors.svg);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
}

.spock {
  left: 50%;
  transform: translate(-260px,75px);
  border: 20px solid #4fbcd1  ;
  background-image: url(../../images/icon-spock.svg);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
}

.spock-picked {
  border: 20px solid #4fbcd1  ;
  background-image: url(../../images/icon-spock.svg);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
}

.paper {
  right: 50%;
  transform: translate(260px,75px);
  border: 20px solid #5573f5;
  background-image: url(../../images/icon-paper.svg);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
}

.paper-picked {
  border: 20px solid #5573f5;
  background-image: url(../../images/icon-paper.svg);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
}

.lizard {
  left: 50%;
  transform: translate(-200px,255px);
  border: 20px solid #8d59ea;
  background-image: url(../../images/icon-lizard.svg);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
}

.lizard-picked {
  border: 20px solid #8d59ea;
  background-image: url(../../images/icon-lizard.svg);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
}

.rock {
  right: 50%;
  transform: translate(200px,255px);
  border: 20px solid #db3854 ;
  background-image: url(../../images/icon-rock.svg);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
}

.rock-picked {
  border: 20px solid #db3854 ;
  background-image: url(../../images/icon-rock.svg);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: center;
}

.rules {
  position: absolute;
  height: 45px;
  width: 150px;
  bottom: 45px;
  right: 45px;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  background-color: rgba(24,33,66,255) ;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 1200px) {
  /* Estilos que se aplicarán cuando el ancho de la pantalla sea menor a 1200px */
  .board_container {
    height: 60vh;
    width: 100%;
    }
  .circle {
    width: 100px;
    height: 100px;
  }
  .scissors {
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .spock {
    left: 50%;
    transform: translate(-170px,55px);
  }
  .paper {
    right: 50%;
    transform: translate(170px,55px);
  }
  .lizard {
    left: 50%;
    transform: translate(-140px,195px);
  }
  .rock {
    right: 50%;
    transform: translate(140px,195px);
  }
}