.header__container {
  height: 25vh;
  width: 100wh;
  display: flex;
  justify-content: center;
  padding: 30px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  height: 90%;
  width: 100%;
  max-width: 800px;
  border: solid rgba(94,111,137,255) 2px;
  border-radius: 10px;
  color: white;
  z-index: 8;
}

.header-left {
  margin-left: 35px;
  text-align: start;
  line-height:18px;
  z-index: 8;
}

.header-right {
  margin-right: 35px;
  background-color: #fbfbfb;
  color:#514f63;
  padding: 15px 35px 5px;
  border-radius: 15px;
  z-index: 8;
}

.header-right-score {
  font-size: 30px;
}

img {
  width: 20px;
  height: 20px;
}

@media (max-width: 1200px) {
  /* Estilos que se aplicarán cuando el ancho de la pantalla sea menor a 1200px */
  .header__container {
    height: 30vh;
    width: 100wh;
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  .header {
    height: 90%;
    width: 100%;
  }
  .header-right {
    margin-right: 35px;
    background-color: #fbfbfb;
    color:#514f63;
    padding: 15px 35px 5px;
    border-radius: 15px;
    height: 80%;
  }

  .header-right-score {
    font-size: 30px;
  }
}