.ModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
}
.Title {
  height: 5%;
}
.ModalBackground {
  width: 75%;
  height: 40%;
  background-image: url(../../images/image-rules-bonus.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ModalButton {
  width: 30px;
  height: 30px;
  margin-top: 30px;
  border: none;
  background-color: white;
  background-image: url(../../images/icon-close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
